.form__fieldset--name {
  border: none;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 0 0 #e5e5e5;
  padding: 23px 20px 5px;
  margin: 0;

  @media (min-width: @tablet-width) {
    order: 2;
    padding: 0 0 0 57px;
    box-shadow: none;

    & .form__title {
      margin-right: auto;
      margin-bottom: 55px;

      @media (min-width: @tablet-width) {
        margin-bottom: 60px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px 0 79px;
  }
}

.form__fieldset--contact {
  border: none;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 0 0 #e5e5e5;
  padding: 17px 20px 15px;
  margin: 20px 0 0;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
  }

  & .form__description {
    margin-left: 22px;
    margin-bottom: 10px;
  }

  & .form__description--desktop {
    display: none;
  }

  @media (min-width: @tablet-width) {
    order: 3;
    grid-column: 1 / -1;
    padding: 0 60px;
    margin-bottom: 31px;
    box-shadow: none;
    position: relative;

    & .form__description {
      margin-bottom: 9px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 122px;
      height: 1px;
      background-color: #dbdbdb;
      bottom: 248px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 122px;
      height: 1px;
      background-color: #dbdbdb;
      bottom: 248px;
      right: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    padding: 0 120px;

    & .form__description {
      margin: 0;
    }

    & .form__contact-label:last-child {
      margin-left: 77px;
    }

    &::before {
      width: 280px;
      bottom: 149px;
    }

    &::after {
      width: 280px;
      bottom: 149px;
      right: 120px;
    }

    & .form__description--mobile {
      display: none;
    }

    & .form__description--desktop {
      display: inline-block;
      margin: 0;
    }
  }
}

.form__fieldset--impression {
  border: none;
  box-shadow: 0 1px 0 0 #e5e5e5;
  padding: 0 20px;
  margin: 22px 0 0;

  & .form__title {
    margin-bottom: 37px;
  }

  .form__control {
    position: relative;

    & .form__control-mark {
      position: absolute;
      top: -12px;
      left: -13px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: #f2f2f2;
      margin: 0;
      cursor: pointer;

      @media (min-width: @tablet-width) {
        left: 5px;
      }
    }

    & .form__control-mark:hover {
      background-color: #e5e5e5;
    }

    & .form__control-mark:active {
      background: #d5d5d5;
    }

    & .form__control-input:checked + .form__control-mark::before {
      position: absolute;
      top: 16px;
      left: 16px;
      width: 18px;
      height: 18px;
      background-color: #333333;
      border-radius: 50%;
      content: "";
    }

    & .form__control-label {
      padding-left: 61px;
      text-transform: none;

      @media (min-width: @tablet-width) {
        padding-left: 77px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    order: 0;
    padding: 0 45px 0 58px;
    box-shadow: none;
    position: relative;

    & .form__title {
      margin-right: auto;
      margin-bottom: 72px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 292px;
      top: -95px;
      right: 0;
      background-color: #dbdbdb;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 79px 0 120px;

    & .form__title {
      margin-left: 78px;
    }
  }
}

.form__fieldset--visited {
  border: none;
  box-shadow: 0 1px 0 0 #e5e5e5;
  padding: 0 20px 39px;
  margin: 15px 0 0;

  & .form__title {
    margin-bottom: 36px;
  }

  & .form__control {
    position: relative;

    & .form__control-mark {
      position: absolute;
      top: -15px;
      left: -18px;
      width: 52px;
      height: 52px;
      border-radius: 5px;
      background-color: #f2f2f2;
      margin: 0;
      cursor: pointer;

      @media (min-width: @tablet-width) {
        left: 0;
      }
    }

    & .form__control-mark:hover {
      background-color: #e5e5e5;
    }

    & .form__control-mark:active {
      background: @white;
      box-shadow: 0 0 4px 10px #e5e5e5 inset;
    }

    & .form__control-input:checked + .form__control-mark::before {
      position: absolute;
      top: 18px;
      left: 15px;
      width: 24px;
      height: 18px;
      content: "";
      background-image: url("/img/tick.svg");
      background-repeat: no-repeat;
      background-size: 100%;
    }

    & .form__control-label {
      padding-left: 59px;
      text-transform: none;

      @media (min-width: @tablet-width) {
        padding-left: 79px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    order: 4;
    grid-column: 1 / -1;
    padding: 0 60px;
    box-shadow: none;
    position: relative;
    margin: 18px 0 0;

    & .form__title {
      margin-bottom: 58px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 122px;
      height: 1px;
      background-color: #dbdbdb;
      bottom: 262px;
      left: 60px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 122px;
      height: 1px;
      background-color: #dbdbdb;
      bottom: 262px;
      right: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    padding: 0 120px;

    &::before {
      width: 280px;
      bottom: 173px;
      left: 120px;
    }

    &::after {
      width: 280px;
      bottom: 173px;
      right: 120px;
    }
  }
}

.form__fieldset--emotions {
  border: none;
  margin: 20px 0 44px 0;
  padding: 0;

  & .form__title {
    margin-bottom: 15px;
  }

  @media (min-width: @tablet-width) {
    order: 5;
    grid-column: 1 / -1;
    padding: 0 60px;
    margin-bottom: 52px;
    position: relative;

    & .form__title {
      margin-bottom: 55px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 122px;
      height: 1px;
      background-color: #dbdbdb;
      bottom: 235px;
      left: 60px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 122px;
      height: 1px;
      background-color: #dbdbdb;
      bottom: 235px;
      right: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;

    &::before {
      position: absolute;
      content: "";
      width: 280px;
      height: 1px;
      background-color: #dbdbdb;
      bottom: 238px;
      left: 120px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 280px;
      height: 1px;
      background-color: #dbdbdb;
      bottom: 238px;
      right: 120px;
    }
  }
}

.form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    justify-content: start;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
  }
}

.form__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.form__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  margin-right: 13px;
}

.form__input {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 16px 0 16px 23px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: @white;
    box-shadow: 0 0 0 4px #e5e5e5 inset;
  }
}

.form__input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: @black;
}

.form__input--name {
  width: 230px;

  @media (min-width: @tablet-width) {
    width: 216px;
  }

  @media (min-width: @desktop-width) {
    width: 350px;
  }
}

.form__input--surname,
.form__input--patronymic {
  width: 195px;

  @media (min-width: @tablet-width) {
    width: 178px;
  }

  @media (min-width: @desktop-width) {
    width: 315px;
  }
}

.form__input--phone,
.form__input--email {
  width: 282px;

  @media (min-width: @tablet-width) {
    width: 650px;
  }

  @media (min-width: @desktop-width) {
    width: 315px;
    margin-left: 17px;
  }
}

.form__contact-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 2px;
  }

  & .form__logo-phone {
    position: absolute;
    padding: 29px;
    bottom: 0;
    right: 0;
    background-color: #e6e6e6;
  }

  & .form__logo-email {
    position: absolute;
    padding: 23px 21px;
    bottom: 0;
    right: 24px;
    background-color: #e6e6e6;
  }

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: center;
    margin-top: 73px;
  }
}

.form__control-label {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.form__impression-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__impression-item {
  margin-bottom: 42px;
  display: flex;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }
}

.form__visited-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 44px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin: 0;
  }
}

.form__visited-item {
  margin-bottom: 53px;
  display: flex;
  justify-content: flex-start;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 71px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form__textarea {
  padding: 14px 40px 14px;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  border: none;
  resize: none;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  font-family: inherit;

  &::placeholder {
    color: @black;
  }
}

.form__clue {
  display: none;
  font-size: 14px;
  line-height: 26px;
  color: #333333;

  @media (min-width: @tablet-width) {
    order: 7;
    display: block;
    margin-left: 101px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 200px;
  }
}
