.page-footer__copyright {
  display: flex;
  justify-content: center;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 28px 78px 23px;

  @media (min-width: @tablet-width) {
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 45px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.page-footer__slogan {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 34px;
  }
}
