.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  background-color: @white;
  width: @mobile-width;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.page-header__logo {
  width: 102px;
  height: 84px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  @media (min-width: @desktop-width) {
    width: 187px;
    height: 96px;
  }
}

.page-header__logo-image {
  height: auto;
}
