.welcome {
  text-transform: uppercase;
}

.welcome__wrapper {
  margin: 0 auto;
  background-color: @white;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.welcome__image {
  width: 282px;
  height: 214px;

  @media (min-width: @tablet-width) {
    width: 460px;
    height: 350px;
  }
}

.welcome__container {
  background-color: @light-blue;
  background-image: url("../img/intro-triangle.svg"), url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: center bottom, center top;
  padding: 91px 18px 86px;

  @media (max-width: @mobile-width-only) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle.svg"), url("../img/back-mobile2x.png");
      background-size: auto auto, 320px auto;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 77px 154px 91px;
    background-image: url("../img/intro-triangle.svg"), url("../img/back-tablet.jpg");
    background-size: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle.svg"), url("../img/back-tablet2x.jpg");
      background-size: auto auto, 768px auto;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 78px 372px 90px;
    background-size: auto auto, 1200px auto;
    background-image: url("../img/intro-triangle.svg"), url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle.svg"), url("../img/back-desktop2x.jpg");
      background-size: auto auto, 1200px auto;
    }
  }
}

.welcome__text {
  padding: 33px 30px 30px;

  @media (min-width: @tablet-width) {
    padding: 44px 113px 53px;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 329px 41px;
  }
}

.welcome__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 31px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.welcome__subtitle {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
