
.advantages__wrapper {
  padding: 0 0 33px;
}

.advanteges__container {
  background-color: #81b3d2;
}

.advantages__list {
  list-style: none;
}

.advantages__list-features {
  text-align: left;
  padding: 0;
}

.advantages__list-points {
  background-color: #eeeeee;
}

.advantages__title,
.advantages__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number,
.advantages__item-number {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.advantages__description,
.advantages__item-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
