.welcome {
  text-transform: uppercase;
}

.welcome__wrapper {
  padding: 32px 0 11px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.welcome__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.welcome__subtitle {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
