.page-header {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page-header__logo {
  height: 84px;
}

.main-nav__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 723px;
    margin: 16px 11px 14px 34px;
  }

  @media (min-width: @desktop-width) {
    width: 1069px;
    margin: 16px 55px 14px 76px;
  }
}

.site-list {
  padding: 0;
}

.site-list__item {
  background-color: #81b3d2;
  list-style: none;
  padding: 10px 0 5px;
  text-align: center;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
  }
}

.site-list__link {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
  }
}
