
.page-footer__slogan {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.social__list {
  list-style: none;
  padding: 0;
}

.social__item {
  background-color: #81b3d2;
}

.copyright__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.copyright__link svg {
  width: 27px;
  height: 35px;
}
