.catalog-welcome {
  text-transform: uppercase;
  text-align: center;
}

.catalog-welcome__wrapper {
  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.catalog-welcome__container {
  background-color: #81b3d2;
  background-image: url("/img/intro-triangle.svg"), url("/img/back-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom, center top;
  padding: 90px 18px 75px;

  @media (max-width: @mobile-width-only) {
    background-size: auto;
  }

  @media (min-width: @tablet-width) {
    padding: 77px 154px 91px;
    background-size: auto;
  }

  @media (min-width: @desktop-width) {
    padding: 78px 380px 91px;
  }
}

.catalog-welcome__text {
  padding: 32px 10px 20px;

  @media (min-width: @tablet-width) {
    padding: 65px 145px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 102px;
  }
}

.catalog-welcome__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.catalog-welcome__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
