.review__wrapper {
  padding: 32px 0 115px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.review__description {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 59px 130px 68px;
  }

  @media (min-width: @desktop-width) {
    padding: 63px 350px 66px;
  }
}

.review__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.review__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 20px 0 33px;
}

.review__video {
  position: relative;
}

.video__control {
  position: absolute;
  width: 280px;
  bottom: -59px;
  left: 20px;

  @media (min-width: @tablet-width) {
    left: 60px;
    bottom: 8px;
    width: 648px;
  }

  @media (min-width: @desktop-width) {
    left: 200px;
    width: 800px;
  }
}

.range__scale {
  height: 45px;
  background-color: fade(#000000, 60%);

  @media (min-width: @tablet-width) {
    height: 93px;
  }
}

.range__bar {
  position: absolute;
  top: 20px;
  height: 3px;
  background-color: fade(#ffffff, 20%);
  width: 253px;
  left: 20px;

  @media (min-width: @tablet-width) {
    width: 389px;
    left: 93px;
    top: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 540px;
  }
}

.range__toggle {
  position: absolute;
  top: -5px;
  left: 56px;
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.video__button {
  background-color: #f2f2f2;
  display: flex;
  justify-content: end;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 10px;
    background-color: transparent;
  }
}

.button__control {
  border: none;
  background-color: transparent;
  cursor: pointer;

  & svg {
    fill: #5c6870;
  }

  &:hover svg {
    fill: #000000;
  }

  &:active svg {
    fill: fade(#000000, 30%);
  }

  @media (min-width: @tablet-width) {
    & svg {
      fill: #ffffff;
    }

    &:hover svg {
      fill: fade(#ffffff, 60%);
    }

    &:active svg {
      fill: fade(#ffffff, 30%);
    }
  }
}

.button__replay {
  padding: 22px 25px;
  margin-right: auto;
}

.button__subtitles {
  margin-right: 31px;

  @media (min-width: @tablet-width) {
    margin-left: 445px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 600px;
  }
}

.button__fullscreen {
  border: none;
  margin-right: 23px;
}
