.review__wrapper {
  padding: 0 0 49px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.review {
  text-align: center;
  text-transform: uppercase;
}

.review__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.review__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
