
.feedback__wrapper {
  padding: 0 0 48px;
}

.form__name {
  border: none;
}

.form__contact {
  border: none;
}

.form__impression {
  border: none;
}

.form__impression-list {
  list-style: none;
  padding: 0;
}

.form__visited {
  border: none;
}

.form__visited-list {
  list-style: none;
  padding: 0;
}

.form__emotions {
  border: none;
}

.form__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.form__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.form__control-label {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.form__input {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
}

.form__input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}
